[bumpversion]
current_version = 0.0.0
commit = True
tag = True
tag_name = ms-Tracing/v{new_version}
message = ms-Tracing v{new_version}

[bumpversion:file:package.json]
search = "version": "{current_version}"
replace = "version": "{new_version}"
